<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">

        <h2 class="pb-2 border-bottom">See all your stories or create a new story</h2>

        <div class="mt-5">
        
          <a class="btn btn-primary" href="/stories/createStory">Create New Story</a>
        </div>

          <div class="mt-5">
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
         
      </div>

      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<stories.length; i++) {%>
          <li class="col-6 justify-content-between mt-5"><h3> 
            <a  class="link" href="/stories/<%= stories[i]._id%>"><%= stories[i].title %> 
            </a>
            </h3>
            
            <span class="side" > 
            <a href="/stories/editStory/<%= stories[i]._id%>"> 
              <button class="btn btn-primary fa fa-pen"></button>
            </a>
          </span>


            <span class="side">
              <form
              class="col-1"
              action="/stories/deleteStory/<%=stories[i]._id%>?_method=DELETE"
              method="POST">
              <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            </span>



          </li>
          
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary mb-2" href="/feed">Return to Menu</a>
          <a class="btn btn-primary" href="/outlines">Return to Outlines</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>





